/* Setup Panels */
body {
    display: flex;
    height: 100vh;
    margin: 0 auto;
    overflow: hidden;
}
.main-panel {
    text-align: center;
    width: 80%;
    overflow-y: scroll;
}
.side-panel {
    width: 20%;
    min-width: 40vh;
    padding: 1vw 2vw;
    overflow-y: scroll;
    text-align: center;

    background-color: #f1f1f1;
    font-family: "Segoe UI",Arial,sans-serif;
}

p,h1,h3{font-weight: 400;}
.button {
    background-color: #f44336; 
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 2vw;
    width: 100%;
    cursor: pointer;
}


#board-game {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 98vh;
    margin: 0 auto;


    background-image: url('../resources/blue-background.png');
    border-radius: 3vh;
}
#board-game > .row {
    display: flex;
}
#board-game > .row > .column {
    width: 10vh;
    height: 10vh;
    margin: 1vh;
    border-radius: 100%;
}
#board-game > .row:not(:first-child) .column {
    background-color: white;
    border: 1vh solid gainsboro;
}

/* Insert Disc Section */
#board-game > .row:first-child{
    background-image: url('../resources/header-bg1.jpg');
    border-radius: 3vh;
}
#board-game > .row:first-child .column{
    background-image: url('../resources/kenzie.png');
    background-size: 100%;
    background-blend-mode: multiply;

    margin: 2vh;

    transition: transform 0.4s linear;
}
#board-game > .row:first-child .column:hover{
    background-color: var(--current-disc)!important;
    cursor: pointer;
}

#board-game > .row > .stamp {
    background-image: url('../resources/kenzie.png');
    background-size: 100%;
    background-blend-mode: multiply;
}

#turn-label {font-size: calc(12px + 0.75vw); color: red;}
#Title {font-size: calc(16px + 1.75vw);}


@media only screen and (max-width: 910px) {
    body { flex-direction: column; }

    .main-panel {
        text-align: center;
        width: 100%;
        height: 75%;
        overflow-x: scroll;
    }
    .side-panel {
        padding: 0;
        padding-top: 2vw;
        overflow: hidden;
    
        width: 100%;
        height: 27%;
    }
    .button{ position: absolute; bottom: 0; left: 0; }
    
    /* Change to vw */
    #board-game { max-width: 98vw; }
    #board-game > .row > .column { width: 10vw;  height: 10vw;  margin: 1vw;  }
    #board-game > .row:not(:first-child) .column { border-width: 1vw; }
    #board-game > .row:first-child .column{ margin: 2vw; }

    #board-game > .row:first-child { border-radius: 3vw; }
    #board-game { border-radius: 3vw; }

    #turn-label {font-size: calc(18px + 0.75vw); color: red;}
    #Title {font-size: calc(24px + 1.75vw); margin-top: 0;}
}
